@import url('//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
@require '_mixins/fonts'
@require 'normalize.css/normalize.css'

html {
  overflow-y: scroll
  box-sizing: border-box
}

*,
*:before,
*:after {
  box-sizing: inherit
}

body {
  background: #2c2f33
  color: #fff
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif
}

a {
  color: #ccc
}

a:hover {
  color: #eee
}

.hidden {
  font-size: 0
}

/*
   section {
   margin: 0 auto
   max-width: 94%
   width: 700px
   }
   
   @media only screen and (max-width: 768px) {
   /* Mobile * /
   section {
   width: 100%
   }
   }
*/
