/* Fonts */
@font-face {
  font-family: Whitney;
  font-style: light;
  font-weight: 300;
  src: url(https://discordapp.com/assets/16801bfdf51ed88e69bc90626a3ea436.woff) format('woff');
}

@font-face {
  font-family: Whitney;
  font-style: normal;
  font-weight: 500;
  src: url(https://discordapp.com/assets/d153359b5d87601d2b9c708b7ae2db02.woff) format('woff');
}

@font-face {
  font-family: Whitney;
  font-style: medium;
  font-weight: 600;
  src: url(https://discordapp.com/assets/a934ab008c7f6a2274ec441f6be0696a.woff) format('woff');
}

@font-face {
  font-family: Whitney;
  font-style: semibold;
  font-weight: 650;
  src: url(https://discordapp.com/assets/877ef48bf9fcfee590f0ba64de101b59.woff) format('woff');
}

@font-face {
  font-family: Whitney;
  font-style: bold;
  font-weight: 700;
  src: url(https://discordapp.com/assets/2e004dd717cdc58b9ccb361d286ebbce.woff) format('woff');
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #2c2f33;
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #fff;
}

main {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100%;
  padding-bottom: 6rem;
}

section {
  width: 700px;
  max-width: 94%;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  /* Mobile */
  section {
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: #ccc;
}

a:hover {
  color: #eee;
}

header {
  padding: 8px 0;
  margin: 0;
  background: #7289da;
  width: 100%;
  color: #fff;
}

.header-wrapper {
  vertical-align: middle;
  margin-left: 50px;
}

.header-wrapper h1 {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

.header-wrapper .icon {
  display: inline-block;
  content: '';
  background-image: url(./img/logo.png);
  background-size: contain;
  height: 100px;
  width: 100px;
  vertical-align: middle;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  color: #aaaaaa;
  font-size: 0.75rem;
  background: #23272a;
}

.floaty-wrapper {
  min-width: 60%;
  width: 60%;
  max-width: 100%;
  margin: 0 auto;
  max-height: 50vh;
  min-height: 10vh;
  height: 50vmin;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.circle {
  position: absolute;
  border-radius: 1000px;
  background: #aaa;
  display: block;
  animation: floatyMain 2s infinite alternate ease-in-out;
  background-size: cover !important;
  overflow: hidden;
}

.circle:hover .overlay {
  opacity: 1;
}

.circle .overlay {
  opacity: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 1000px;
}

.circle .overlay span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 10%;
  width: 100%;
  margin: auto !important;
}

.circle.bubblemain {
  background: url(./img/logo.png);
  left: calc(50% - 10vmax);
  top: calc(50% - 10vmax);
  width: 20vmax;
  height: 20vmax;
}

.circle.bubble1 {
  background: url(https://discordapp.com/assets/1cbd08c76f8af6dddce02c5138971129.png);
  left: calc(70% - 5vmax);
  top: calc(30% - 5vmax);
  animation-duration: 1s;
  width: 10vmax;
  height: 10vmax;
}

.circle.bubble2 {
  background: url(./img/github.svg);
  left: calc(73% - 3vmax);
  top: calc(67% - 3vmax);
  animation-duration: 0.7s;
  animation-delay: -0.3s;
  width: 6vmax;
  height: 6vmax;
}

.circle.bubble3 {
  background: url(./img/plugin.svg);
  left: calc(28% - 5vmax);
  top: calc(58% - 5vmax);
  animation-duration: 0.8s;
  animation-delay: -0.3s;
  width: 10vmax;
  height: 10vmax;
}

.circle.bubble4 {
  background: url(./img/dtinker.svg);
  left: calc(32% - 3vmax);
  top: calc(23% - 3vmax);
  animation-duration: 0.5s;
  width: 6vmax;
  height: 6vmax;
}

@keyframes floatyMain {
  0% {
    margin-top: 0px;
  }
  100% {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 768px) {
  /* Mobile */
}
