@import url('//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
@require '_mixins/fonts'
@require 'normalize.css/normalize.css'

html {
  overflow-y: scroll
  box-sizing: border-box
}

*,
*:before,
*:after {
  box-sizing: inherit
}

body {
  background: #2c2f33
  color: #fff
  font-family: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif
}

a {
  color: #ccc
}

a:hover {
  color: #eee
}

.hidden {
  font-size: 0
}

.wrapper {
  min-height: 100vh
  display: grid
  grid-template-columns: 1fr 1080px 1fr
  grid-template-rows: 5rem auto 7rem

  grid-template-areas: "header header header" "leftspan main rightspan" "footer footer footer"

  main {
    grid-area: main
    margin-top: 1rem
  }
}
