div class="floaty-wrapper"
  div class="circle bubble1"
    div class="overlay"
      span -- Placeholder Text
  div class="circle bubble2 github"
    div class="overlay"
      span -- Github
  div class="circle bubble3 plugins"
    div class="overlay"
      span -- Placeholder Text
  div class="circle bubble4 bd"
    div class="overlay"
      span
  div class="circle bubblemain di"
    div class="overlay"
      span -- Placeholder Text
