footer.page-footer
  section
    p
      ---
      DiscordInjections is in no way affiliated or endorsed by/with Discord or Discord Inc (formerly Hammer & Chisel Inc). DiscordInjections takes no responsibility for any damage caused by unofficial plugins. Use at your own risk. This utility is intended to enhance the Discord experience. This site uses assets from
      <a href="https://discordapp.com">discordapp.com</a>. Logo created by Roadcrosser.
      ---
    p -- &copy; 2017 - stupid cat, Kura Bloodlust
