
@keyframes bubble-float {
  0% {
    margin-top: 0
  }

  100% {
    margin-top: 15px
  }
}

.floaty-wrapper {
  position: relative
  overflow: hidden
  margin: 0 auto
  min-width: 60%
  min-height: 10vh
  max-width: 100%
  max-height: 50vh
  width: 60%
  height: 50vmin
}

.circle {
  position: absolute
  display: block
  overflow: hidden
  border-radius: 50%
  background-size: cover !important
  animation: bubble-float 2s infinite alternate ease-in-out

  .overlay {
    width: 100%
    height: 100%
    border-radius: 50%
    background: rgba(0, 0, 0, .6)
    text-align: center
    opacity: 0

    a {
      display: block
      padding-top: calc(50% - .5rem)
      height: 100%
      color: white
      text-decoration: none
      font-size: 1rem
    }
  }

  &:hover .overlay {
    opacity: 1
  }

  &.bubble-download {
    top: calc(50% - 10vmax)
    left: calc(50% - 10vmax)
    width: 20vmax
    height: 20vmax
    background: url('/static/img/logo.png')

    a {
      padding-top: calc(50% - 1.5rem)
      font-size: 2rem
    }
  }

  &.bubble-themes {
    top: calc(30% - 5vmax)
    left: calc(70% - 1vmax)
    width: 10vmax
    height: 10vmax
    background: url('/static/img/theme.svg')
    animation-duration: 1s
  }

  &.bubble-github {
    top: calc(67% - 3vmax)
    left: calc(73% - 1vmax)
    width: 6vmax
    height: 6vmax
    background: url('/static/img/github.svg')
    animation-duration: .7s
    animation-delay: -.3s
  }

  &.bubble-plugins {
    top: calc(58% - 5vmax)
    left: calc(28% - 9vmax)
    width: 10vmax
    height: 10vmax
    background: url('/static/img/plugin.svg')
    animation-duration: .8s
    animation-delay: -.3s
  }

  &.bubble-discord {
    top: calc(23% - 3vmax)
    left: calc(32% - 7vmax)
    width: 6vmax
    height: 6vmax
    background: url('/static/img/dtinker.svg')
    animation-duration: .5s
  }
}
