main
  page-header
  div id="main"
    floaty-thing
    section
      h1 -- What's this?
      p -- DiscordInjections (DI) is a utility to inject your Discord client with CSS and JS, in the form of plugins.
    section
      h1 -- Warning
      p -- Site is very WIP
  page-footer
