@font-face {
  font-weight: 300
  font-style: light
  font-family: Whitney
  src: url('https://discordapp.com/assets/16801bfdf51ed88e69bc90626a3ea436.woff') format('woff') // discordapp.com/assets/16801bfdf51ed88e69bc90626a3ea436.woff) format('woff');
}

@font-face {
  font-weight: 500
  font-style: normal
  font-family: Whitney
  src: url('https://discordapp.com/assets/d153359b5d87601d2b9c708b7ae2db02.woff') format('woff') // discordapp.com/assets/d153359b5d87601d2b9c708b7ae2db02.woff) format('woff');
}

@font-face {
  font-weight: 600
  font-style: medium
  font-family: Whitney
  src: url('https://discordapp.com/assets/a934ab008c7f6a2274ec441f6be0696a.woff') format('woff') // discordapp.com/assets/a934ab008c7f6a2274ec441f6be0696a.woff) format('woff');
}

@font-face {
  font-weight: 650
  font-style: semibold
  font-family: Whitney
  src: url('https://discordapp.com/assets/877ef48bf9fcfee590f0ba64de101b59.woff') format('woff') // discordapp.com/assets/877ef48bf9fcfee590f0ba64de101b59.woff) format('woff');
}

@font-face {
  font-weight: 700
  font-style: bold
  font-family: Whitney
  src: url('https://discordapp.com/assets/2e004dd717cdc58b9ccb361d286ebbce.woff') format('woff') // discordapp.com/assets/2e004dd717cdc58b9ccb361d286ebbce.woff) format('woff');
}
